body{
    background-color: gray;
    text-align:center;
}

h1{
    font-size: 40px;
    transition: font-size 0.5s ease;
}

h1:hover{
    font-size:80px;
    transition: font-size 0.5s ease;
}

p{
    text-align:left;
}

.foto{
    width:200px;
    height:auto;
    transition:width 0.5s ease;
}

.foto:hover{
    width:400px;
    height: auto;
    transition:width 0.5s ease;
}

.ling{
    transition:opacity 0.5s ease;
    opacity:1;
}

.escondido {
    opacity: 0;
    width: 0;
    height: 0;
    transition:display 0.5s ease;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #90a4ff;
    border-radius: 30px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 3px;
    top: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #3a25f7;
}

input:checked + .slider::before {
    transform: translateX(30px);
}

.bomba{
    display: none;
}

#Eng p{
    color:black;
}

img{
    border-radius:8px;
}

.Bullet{
    text-align:left;
}

.text{
    display: flex;
    align-items:center;
}

.text img{
    float: left;
    margin: 0 0 10px 20px;
}

.botao{
    margin-left:auto;
    align-items: right;
}
